* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
    margin-top: 2vh;
    height: 8vh;
    font-size: 90%;
}

h2 {
    text-align: center;
    font-size: 18px;
    font-size: 70%;
    width: 100%;
}

section :nth-child(1) h2 {
    width: 37.6vw;
    margin-left: 0.7vw;
    background-color: #5f6670;
    position: absolute;
    line-height: 33.8vh;
}

section :nth-child(2) h2 {
    width: 47.8vw;
    margin-left: 40.7vw;
    background-color: #669fee;
    position: absolute;
    line-height: 33.8vh;
}

section :nth-child(3) h2 {
    width: 27.6vw;
    margin-left: 19.6vw;
    margin-top: 38.2vh;
    background-color: #5f6670;
    position: absolute;
    line-height: 34.1vh;
}

section :nth-child(4) h2 {
    width: 27.6vw;
    margin-left: 49.6vw;
    margin-top: 38.2vh;
    background-color: #5f6670;
    position: absolute;
    line-height: 34.1vh;
}

section :nth-child(5) h2 {
    width: 17.8vw;
    margin-left: 0.7vw;
    margin-top: 75.9vh;
    background-color: #5f6670;
    position: absolute;
    height: 13.9vh;
}

section :nth-child(6) h2 {
    width: 27.7vw;
    margin-left: 71.6vw;
    margin-top: 75.9vh;
    background-color: #5f6670;
    position: absolute;
    height: 13.9vh;
}

section :nth-child(7) h2 {
    width: 4vw;
    margin-left: 96vw;
    margin-top: -5.5vh;
    background-color: #669fee;
    position: absolute;
    line-height: 34.2vh;
}

section :nth-child(8) h2 {
    width: 18.4vw;
    margin-left: 40.8vw;
    margin-top: 83.5vh;
    background-color: #669fee;
    position: absolute;
    line-height: 6.2vh;
}