@import url('https://fonts.googleapis.com/css?family=Cherry+Swash:400,700&display=swap');
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Cherry Swash', cursive;
}

body {
    background-color: lightgray;
}

nav {
    background-color: gray;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px;
    padding-right: 20vw;
    list-style-type: none;
}

ul li {
    margin: 5px 0px 5px 30px;
}

ul li a {
    text-decoration: none;
    color: white;
}

ul li a:hover {
    color: darkgrey;
}

h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 3%;
}

h2 {
    font-size: 18px;
}

.wrap {
    width: 60vw;
    margin: auto;
    text-align: justify;
    background-color: white;
    padding: 2%;
}

header {
    border-bottom: 1px solid black;
    margin-bottom: 5%;
    padding-bottom: 2%;
}

section {
    border: 1px solid black;
    padding: 5%;
    margin-bottom: 5%;
}

img {
    width: 30%;
    height: 30%;
}

p {
    display: flex;
    align-items: center;
}

.wrap :nth-child(2) p {
    flex-direction: row-reverse;
}

.wrap :nth-child(4) p {
    display: block;
}

.wrap :nth-child(4) img {
    float: left;
    clear: both;
}

@media print {
    body {
        background-color: white;
        margin-top: 5%;

    }
    .wrap {
        width: 100vw;
    }
    nav {
        width: 100vw;
        margin: auto;
    }
    img {
        display: none;
    }
    .wrap :nth-child(4) p {
        display: block;
    }
    .wrap :nth-child(4) img {
        display: block;
        float: left;
        clear: both;
    }
    section {
        page-break-after: always;
        margin-top: 5%;
    }

    header {
        margin-bottom: 0%;
    }
}